{% extends 'base.html' %}


{% block content %}
<section class="glass-panel auth-box">
  <div class="auth-header">
    <h1>Log In</h1>
    <p>Welcome back!</p>
  </div>

  <div id="alert-container"></div>

  <form id="login-form">
    <div class="input-group">
      <i class="fas fa-user"></i>
      <input name="username" id="username" placeholder="Username">
    </div>
    <div class="input-group">
      <i class="fas fa-lock"></i>
      <input type="password" name="password" id="password" placeholder="Password">
    </div>
    <button type="submit" class="btn-primary">Log In</button>
  </form>

  <div class="switch-auth">
    <p>Don't have an account? <a href="/auth/register">Register here</a></p>
  </div>
</section>
{% endblock %}